main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 20px;
}
.layouts-container {
    color: #7c7c7c;
    background-color: #fff;
    box-shadow: 0 10px 15px #00000020;
    box-sizing: border-box;
    padding: 20px;
}
.layouts-container h3 {
    font-size: 2rem;
    margin: 0 auto 20px;
}
.layouts-container p {
    line-height: 1.25;
}
.layouts-container p + p {
    margin-top: 20px;
}
.layouts-container img {
    max-width: 100%;
    margin-top: 20px;
}
@media (min-width: 1024px) {
    .layouts-container {
        flex-basis: 450px;
    }
}
